//引入清除默认样式
@import './reset.scss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $base-background-color;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: yellowgreen;
}