//提供全局变量
// $color:red
$base-color: red;
//左侧菜单宽度
$base-menu-width: 260px;
//左侧菜单背景颜色
$base-background-color: #001529;

//顶部导航栏高度
$base-tab-bar-height: 100px;

$base-menu-logo-height: 50px;
//菜单logo右侧文字大小
$base-menu-logo-title-fontSize: 20px;